@use './helpers/' as *;

:root {
  --purple-50: hsl(260, 100%, 95%);
  --purple-300: hsl(264, 82%, 80%);
  --purple-500: hsl(263, 55%, 52%);

  --white: hsl(0, 0%, 100%);
  --grey-100: hsl(214, 17%, 92%);
  --grey-200: hsl(0, 0%, 81%);
  --grey-400: hsl(224, 10%, 45%);
  --grey-500: hsl(217, 19%, 35%);
  --dark-blue: hsl(219, 29%, 14%);
  --black: hsl(0, 0%, 7%);

  --border-img: 2px solid #a775f1;

  --bg-color: #f6f5f6;

  --font-family-base: 'Barlow';

  --padding-block-section: clamp(4.5625rem, 1.1294rem + 14.6479vw, 14.3125rem)
    clamp(4.5625rem, 1.3715rem + 13.615vw, 13.625rem);
  --padding-inline-section: clamp(2.1875rem, -0.6294rem + 12.0188vw, 10.1875rem);

  --padding-card: 2rem;
  --gap-card: 1rem;

  --font-size-xl: 1.25rem;
  --font-size-l: 0.8125rem;
  --font-size-m: 0.6875rem;

  --line-height-xl: 140%;
  --line-height-l: 120%;
  --line-height-m: 110%;

  --box-shadow-card: 2.5rem 3.75rem 3.125rem -2.9375rem rgba(72, 85, 106, 0.25);

  --border-radius-base: 0.5rem;

  --transition-duration: 0.2s;
}

body {
  font-family: var(--font-family-base);
  font-size: var(--font-size-l);
  font-weight: 500;
  color: var(--color-white);
  background-color: var(--bg-color);
}

main {
  @include flex-center;
}

.review {
  padding-block: var(--padding-block-section);
  padding-inline: var(--padding-inline-section);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    'one one two three'
    'four five five three';
  gap: 2rem;

  .one {
    grid-area: one;
  }
  .two {
    grid-area: two;
  }
  .three {
    grid-area: three;
  }
  .four {
    grid-area: four;
  }
  .five {
    grid-area: five;
  }

  .border-img {
    outline: var(--border-img);
  }

  .bg-purple {
    background: url('./src/assets/images/bg-pattern-quotation.svg') no-repeat top right 60px;
    background-color: var(--purple-500);
  }

  .bg-white {
    background-color: var(--white);
  }

  .bg-grey-500 {
    background-color: var(--grey-500);
  }

  .bg-dark-blue {
    background-color: var(--dark-blue);
  }

  .text-color-purple {
    color: var(--purple-50);
  }

  .text-color-grey-100 {
    color: var(--grey-100);
  }

  .text-color-grey-200 {
    color: var(--grey-200);
  }

  .text-color-grey-400 {
    color: var(--grey-400);
  }

  .text-color-grey-500 {
    color: var(--grey-500);
  }

  .text-color-white {
    color: var(--white);
  }

  .card {
    @include flex-column;

    padding: var(--padding-card);
    gap: 1rem;
    border-radius: var(--border-radius-base);
    box-shadow: var(--box-shadow-card);

    .author {
      display: flex;
      gap: 1rem;

      &__info {
        @include flex-column;

        justify-content: center;
        gap: 0.25rem;
      }

      &__img {
        border-radius: 50%;
      }

      &__name {
        font-size: var(--font-size-l);
        line-height: var(--line-height-m);
      }

      &__graduate {
        font-size: var(--font-size-m);
        line-height: var(--line-height-m);
      }
    }

    &__title {
      font-size: var(--font-size-xl);
      line-height: var(--line-height-l);
    }
  }
}

@media (max-width: 48rem) {
  .review {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
      'one one'
      'two four'
      'five five'
      'three three';
  }
}

@media (max-width: 34.375rem) {
  .review {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      'one'
      'two'
      'four'
      'five'
      'three';
  }
}
